* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
:root {
    --color-beige: #f5f5dc; /* Beige Claro */
    --color-accent-1: #d2b48c; /* Bronce */
    --color-accent-2: #8b4513; /* Marrón Saddle */
    --color-background: #ffffff; /* Blanco */
    --color-background-blur: 	rgba(139,69,19,0.5);
    --color-text: #f5f5dc; /* Gris Oscuro */
  }

  body {
    position: relative;
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: blur(5px); /* Puedes ajustar el valor de píxeles según tus preferencias */
    z-index: -1;
  }
  nav {
    width: 90%;
    margin: auto;
  }

  nav div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  nav div p {
    font-size: 30px;
    color: var(--color-text);
    padding: 10px;
    
  }
  nav div a {
    text-decoration: none;
    color: var(--color-text);
    margin-right: 15px;
    
  }

  .btn {
    width: fit-content;
    height: fit-content;
    background-color: var(--color-accent-2);
    padding: 15px;
    border-radius: 10px;
  }
  .btn:hover {
    background-color: var(--color-accent-1);
    transition: all 300ms;
  }
  .container {
    width: 90%;
    margin: auto;
  }
  .titulo {
    font-size: 30px;
    color: var(--color-beige);
    padding: 10px;
    font: bold;
  }
  .parrafo {
    font-size: 20px;
    font: 400;
    color: var(--color-text);
    padding: 10px;
    text-align: justify;
    background-color: var(--color-background-blur);
    border-radius: 10px;
  }